@import "../../styles/prerequisites";

.buttonWrapper {
  padding:1px;
  border-radius: 50rem;

  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  vertical-align: middle;

  .button {
    @extend %button;

    box-shadow: none;
    color: #485158;

    &:hover, &:focus {
      box-shadow: none;
      color: #363F48;
    }

    &:disabled,
    &[disabled]{
      cursor: not-allowed;
    }
  }

  &.large {
    background: linear-gradient(340.96deg, #DAE2ED 4.11%, #FFFFFF 87.12%);
    box-shadow: 5px 4px 10px rgba(179, 193, 213, 0.7), -4px -4px 12px #FFFFFF;
    &:hover, &:focus {
      background: linear-gradient(156.93deg, #F1F4F6 9.97%, #F9FAFC 96.13%);
      box-shadow: 5px 4px 10px rgba(179, 193, 213, 0.8), -4px -4px 12px #FFFFFF;
    }

    .button {
      height: 48px - 2px;
    
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    
      line-height: 26px;
    
      @include button-sizes(22px);

      background: linear-gradient(341.68deg, #F4F7FA 7.66%, #EBF0F5 95.56%);
      &:hover, &:focus {
        background: linear-gradient(157.54deg, #F2F5F7 9.97%, #F8FAFC 96.13%);
      }
    }
  }

  &.normal {
    background: linear-gradient(340.86deg, #DAE2ED 4.11%, #FFFFFF 87.12%);
    box-shadow: 4px 3px 8px rgba(179, 193, 213, 0.7), -3px -3px 9px #FFFFFF;
    &:hover, &:focus {
      background: linear-gradient(340.86deg, #DAE2ED 4.11%, #FFFFFF 87.12%);
      box-shadow: 4px 3px 8px rgba(179, 193, 213, 0.8), -3px -3px 9px #FFFFFF;
    }

    .button {
      height: 38px - 2px;
    
      padding-left: 2rem;
      padding-right: 2rem;
    
      line-height: 22px;
    
      @include button-sizes(18px);

      background: linear-gradient(341.73deg, #F4F7FA 7.66%, #EBF0F5 95.56%);
      &:hover, &:focus {
        background: linear-gradient(157.6deg, #F2F5F7 9.97%, #F8FAFC 96.13%);
      }
    }
  }
  
  &.small {
    background: linear-gradient(340.85deg, #DAE2ED 4.11%, #FFFFFF 87.12%);
    box-shadow: 3px 3px 7px rgba(179, 193, 213, 0.7), -3px -3px 8px #FFFFFF;
    &:hover, &:focus {
      background: linear-gradient(340.85deg, #DAE2ED 4.11%, #FFFFFF 87.12%);
      box-shadow: 3px 3px 7px rgba(179, 193, 213, 0.8), -3px -3px 8px #FFFFFF;
    }

    .button {  
      height: 32px - 2px;
    
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    
      line-height: 18px;
    
      @include button-sizes(16px);

      background: linear-gradient(341.84deg, #F4F7FA 7.66%, #EBF0F5 95.56%);
      &:hover, &:focus {
        background: linear-gradient(157.73deg, #F2F5F7 9.97%, #F8FAFC 96.13%);
      }
    }
  }

  &.disabled {
    padding: 0;
    background: none;
    box-shadow: none;

    .button {
      color: rgba(72, 81, 88, 0.6);
    }

    &.large {
      &:hover, &:focus {
        background: none;
        box-shadow: none;
      }
      .button {
        height: 48px;
        background: linear-gradient(341.16deg, #F4F7FA 7.66%, #EBF0F5 95.56%);
        box-shadow: 4px 4px 7px rgba(179, 193, 213, 0.4), -4px -4px 9px rgba(255, 255, 255, 0.85);
        &:hover, &:focus {
          background: linear-gradient(341.16deg, #F4F7FA 7.66%, #EBF0F5 95.56%);
          box-shadow: 4px 4px 7px rgba(179, 193, 213, 0.4), -4px -4px 9px rgba(255, 255, 255, 0.85);
        }
      }
    }
    &.normal {
      &:hover, &:focus {
        background: none;
        box-shadow: none;
      }
      .button {
        height: 38px;
        background: linear-gradient(341.07deg, #F4F7FA 7.66%, #EBF0F5 95.56%);
        box-shadow: 4px 4px 8px rgba(179, 193, 213, 0.4), -3px -3px 9px rgba(255, 255, 255, 0.85);
        &:hover, &:focus {
          background: linear-gradient(341.07deg, #F4F7FA 7.66%, #EBF0F5 95.56%);
          box-shadow: 4px 4px 8px rgba(179, 193, 213, 0.4), -3px -3px 9px rgba(255, 255, 255, 0.85);
        }
      }
    }
    &.small {
      &:hover, &:focus {
        background: none;
        box-shadow: none;
      }
      .button {  
        height: 32px;
        background: linear-gradient(341.05deg, #F4F7FA 7.66%, #EBF0F5 95.56%);
        box-shadow: 3px 3px 7px rgba(179, 193, 213, 0.4), -3px -3px 8px rgba(255, 255, 255, 0.85);
        &:hover, &:focus {
          background: linear-gradient(341.05deg, #F4F7FA 7.66%, #EBF0F5 95.56%);
          box-shadow: 3px 3px 7px rgba(179, 193, 213, 0.4), -3px -3px 8px rgba(255, 255, 255, 0.85);
        }
      }
    }
  }
}

:global {
  .a338 {
    background: linear-gradient(338deg, #DAE2ED 4.11%, #FFFFFF 87.12%) !important;
  }
}