@import "variables";

@mixin button-sizes($size) {
  font-size: $size;

  svg {
    width: $size;
    height: $size;
    margin-right: $size / 2;
  }
}

@mixin icon-button-sizes($size) {
  font-size: $size;
  line-height: $size;
  border-radius: $size;
  padding: $size $size;
  svg {
    width: $size * 1.5;
    height: $size * 1.5;
  }
}

%neutralize-input {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
}

%button {
  @extend %neutralize-input;

  cursor: pointer;
  
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  
  color: $button-text-color !important;

  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  vertical-align: middle;

  height: 36px;
  border-radius: 40px;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 22px;
  line-height: 26px;
  color: #485158;

  background: linear-gradient(341.68deg, #F4F7FA 7.66%, #EBF0F5 95.56%);
  box-shadow: none;

  &:hover, &:focus {
    background: linear-gradient(157.54deg, #F2F5F7 9.97%, #F8FAFC 96.13%);
    box-shadow: none;
    color: #363F48;
  }

  &:disabled,
  &[disabled]{
    background: linear-gradient(341.16deg, #F4F7FA 7.66%, #EBF0F5 95.56%);
    box-shadow: 4px 4px 7px rgba(179, 193, 213, 0.4), -4px -4px 9px rgba(255, 255, 255, 0.85);
    color: rgba(72, 81, 88, 0.6);
    &:hover, &:focus {
      background: linear-gradient(341.16deg, #F4F7FA 7.66%, #EBF0F5 95.56%);
      box-shadow: 4px 4px 7px rgba(179, 193, 213, 0.4), -4px -4px 9px rgba(255, 255, 255, 0.85);
      color: rgba(72, 81, 88, 0.6);
    }
    cursor: not-allowed;
  }
}

%input {
  @extend %neutralize-input;

  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;

  font-size: 28px;

  text-align: left;
  vertical-align: middle;
  
  background: linear-gradient(171.1deg, #EEF1F5 4.98%, #E6E9EF 94.88%);
  box-shadow: inset 5px 5px 10px rgba(166, 180, 200, 0.75), inset -5px -5px 15px rgba(255, 255, 255, 0.75);
  border-radius: 40px;

  position: relative;
}
