@import "variables";

@mixin button-sizes($size) {
  font-size: $size;
  line-height: $size;
  border-radius: $size * 1.5;
  padding: $size $size * 3;
  svg {
    width: $size;
    height: $size;
    margin-right: $size / 2;
  }
}

@mixin icon-button-sizes($size) {
  font-size: $size;
  line-height: $size;
  border-radius: $size;
  padding: $size $size;
  svg {
    width: $size * 1.5;
    height: $size * 1.5;
  }
}

%button {
  @extend %styleless-button;

  cursor: pointer;

  background: linear-gradient(165.78deg, #EEF0F5 4.98%, #E6E9EF 94.88%);
  box-shadow: 10px 10px 20px 0 rgba(166, 180, 200, 0.7), 
              -12px -12px 20px 0 rgba(255, 255, 255, 0.8);
  
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  
  // line-height: 34px;
  
  color: $button-text-color !important;

  &:hover, &:focus {
    box-shadow: 8px 8px 15px 0 rgba(166, 180, 200, 0.7), 
              -10px -10px 15px 0 rgba(255, 255, 255, 0.8);
  }

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

%styleless-button {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
}