@import "variables";

@mixin button-sizes($size) {
  font-size: $size;

  svg {
    width: $size;
    height: $size;
    margin-right: $size / 2;
  }
}

@mixin icon-button-sizes($size) {
  button {
    font-size: $size !important;
    line-height: $size !important;
    border-radius: $size !important;
    padding: $size $size !important;
    svg {
      width: $size * 1.5 !important;
      height: $size * 1.5 !important;
    }
  }
}

%button {
  @extend %neutralize-input;

  cursor: pointer;
  
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  
  color: $button-text-color;

  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  vertical-align: middle;

  height: 36px;
  border-radius: 50rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 22px;
  line-height: 26px;
}

%neutralize-input {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
}

%input {
  @extend %neutralize-input;

  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;

  font-size: 28px;

  text-align: left;
  vertical-align: middle;
  
  background: linear-gradient(171.1deg, #EEF1F5 4.98%, #E6E9EF 94.88%);
  box-shadow: inset 5px 5px 10px rgba(166, 180, 200, 0.75), inset -5px -5px 15px rgba(255, 255, 255, 0.75);
  border-radius: 50rem;

  position: relative;
}
