@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import "prerequisites";

html {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #ECF1F6;
  display:flex;
  flex:column;
  justify-content:center;
  align-items:center;
  height: 100vh;
}
