@import "../../styles/prerequisites";

$tf-large-icon-size: 14px;
$tf-normal-icon-size: 12px;
$tf-small-icon-size: 12px;

$tf-large-height: 48px;
$tf-normal-height: 38px;
$tf-small-height: 32px;

$tf-large-icon-padding: 17px;
$tf-normal-icon-padding: 14px;
$tf-small-icon-padding: 11px;

.wrapper {
  @extend %wrapper;

  position: relative;

  .input {
    @extend %input;

    &:disabled,
    &[disabled]{
      cursor: not-allowed;
    }
  }

  .leftIcon, .rightIcon {
    @extend %icon-opacity;
    position: absolute;
    z-index:1;
    color: rgba(54, 63, 72, 0.5);
    width: $tf-large-icon-size;
    height: $tf-large-icon-size;
    top: $tf-large-height / 2 - $tf-large-icon-size / 2;
  }

  .leftIcon {
    left: $tf-large-icon-padding;
  }
  .rightIcon {
    right: $tf-large-icon-padding;
  }

  &.large {
    background: linear-gradient(308.05deg, #F4F7FA 11.58%, #EBF0F5 92.09%);
    &:focus-within {
      background: linear-gradient(308.05deg, #AAA3FF 11.58%, #29B3FF 92.09%);
    }
    border-radius: 11px;

    .leftIcon, .rightIcon {
      top: $tf-large-height / 2 - $tf-large-icon-size / 2;
      width: $tf-large-icon-size;
      height: $tf-large-icon-size;
    }
    .leftIcon {
      left: $tf-large-icon-padding;
    }
    .rightIcon {
      right: $tf-large-icon-padding;
    }

    .input {
      height: $tf-large-height - 2px;
      padding-left: 20px;
      padding-right: 20px;
      line-height: $tf-large-height - 2px;

      font-style: normal;
      font-weight: normal;
      font-size: 18px;

      background: linear-gradient(130.01deg, #ECF1F6 4.46%, #F5F8FA 94.9%);
      box-shadow: inset -5px -5px 12px #FFFFFF, inset 3px 4px 8px rgba(179, 193, 213, 0.7);
      border-radius: 10px;

      &.hasLeftIcon {
        padding-left: 17px + $tf-large-icon-size + 7px;
      }
      &.hasRightIcon {
        padding-right: 17px + $tf-large-icon-size + 7px;
      }
    }
  }
  &.normal {
    background: linear-gradient(308.05deg, #F4F7FA 11.58%, #EBF0F5 92.09%);
    &:focus-within {
      background: linear-gradient(308.05deg, #AAA3FF 11.58%, #29B3FF 92.09%);
    }
    border-radius: 9px;

    .leftIcon, .rightIcon {
      top: $tf-normal-height / 2 - $tf-normal-icon-size / 2;
      width: $tf-normal-icon-size;
      height: $tf-normal-icon-size;
    }
    .leftIcon {
      left: $tf-normal-icon-padding;
    }
    .rightIcon {
      right: $tf-normal-icon-padding;
    }

    .input {
      height: $tf-normal-height - 2px;
      padding-left: 18px;
      padding-right: 18px;
      line-height: $tf-normal-height - 2px;
      font-size: 15px;

      background: linear-gradient(130.01deg, #ECF1F6 4.46%, #F5F8FA 94.9%);
      box-shadow: inset -4px -3px 10px rgba(255, 255, 255, 0.9), inset 2px 3px 6px rgba(179, 193, 213, 0.7);
      border-radius: 8px;

      &.hasLeftIcon {
        padding-left: $tf-normal-icon-padding + $tf-normal-icon-size + 7px;
      }
      &.hasRightIcon {
        padding-right: $tf-normal-icon-padding + $tf-normal-icon-size + 7px;
      }
    }
  }
  &.small {
    background: linear-gradient(308.05deg, #F4F7FA 11.58%, #EBF0F5 92.09%);
    &:focus-within {
      background: linear-gradient(308.05deg, #AAA3FF 11.58%, #29B3FF 92.09%);
    }
    border-radius: 7px;

    .leftIcon, .rightIcon {
      top: $tf-small-height / 2 - $tf-small-icon-size / 2;
      width: $tf-small-icon-size;
      height: $tf-small-icon-size;
    }
    .leftIcon {
      left: $tf-small-icon-padding;
    }
    .rightIcon {
      right: $tf-small-icon-padding;
    }

    .input {
      height: $tf-small-height - 2px;
      padding-left: 15px;
      padding-right: 15px;
      line-height: $tf-small-height - 2px;

      font-style: normal;
      font-weight: normal;
      font-size: 13px;

      background: linear-gradient(130.01deg, #ECF1F6 4.46%, #F5F8FA 94.9%);
      box-shadow: inset -3px -2px 8px rgba(255, 255, 255, 0.9), inset 2px 2px 5px rgba(179, 193, 213, 0.7);
      border-radius: 6px;

      &.hasLeftIcon {
        padding-left: $tf-small-icon-padding + $tf-small-icon-size + 7px;
      }
      &.hasRightIcon {
        padding-right: $tf-small-icon-padding + $tf-small-icon-size + 7px;
      }
    }
  }

  &.disabled {
    .input {
      color: rgba(54, 63, 72, 0.5);
      background: none;
      box-shadow: none;
      &:hover, &:focus {
        background: none;
        box-shadow: none;
      }
    }

    &.large {
      background: linear-gradient(307.62deg, #ECF1F6 7.23%, #EBF0F5 93.2%);
      box-shadow: inset -3px -3px 8px rgba(255, 255, 255, 0.85), inset 3px 3px 6px rgba(179, 193, 213, 0.4);
      &:focus-within {
        background: linear-gradient(307.62deg, #ECF1F6 7.23%, #EBF0F5 93.2%);
        box-shadow: inset -3px -3px 8px rgba(255, 255, 255, 0.85), inset 3px 3px 6px rgba(179, 193, 213, 0.4);
      }
    }
    &.normal {
      background: linear-gradient(307.62deg, #ECF1F6 7.23%, #EBF0F5 93.2%);
      box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.85), inset 2px 2px 5px rgba(179, 193, 213, 0.4);
      &:focus-within {
        background: linear-gradient(307.62deg, #ECF1F6 7.23%, #EBF0F5 93.2%);
        box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.85), inset 2px 2px 5px rgba(179, 193, 213, 0.4);
      }
    }
    &.small {
      background: linear-gradient(307.62deg, #ECF1F6 7.23%, #EBF0F5 93.2%);
      box-shadow: inset -2.01099px -2.01099px 5.36263px rgba(255, 255, 255, 0.85), inset 2.01099px 2.01099px 4.02197px rgba(179, 193, 213, 0.4);
      &:focus-within {
        background: linear-gradient(307.62deg, #ECF1F6 7.23%, #EBF0F5 93.2%);
        box-shadow: inset -2.01099px -2.01099px 5.36263px rgba(255, 255, 255, 0.85), inset 2.01099px 2.01099px 4.02197px rgba(179, 193, 213, 0.4);
      }
    }
  }
}

.rounded {
  &.large{
    .input {
      padding-left: 18px;
      padding-right: 18px;
    }
  }
  &.normal{
    .input {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  &.normal{
    .input {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}

// Default.
.circle {
  border-radius: 50rem !important;
  .input {
    border-radius: 50rem !important;
  }
}
