@import "../../styles/prerequisites";

.wrapper {
  @extend %wrapper;

  .input {
    @extend %input;

    &:disabled,
    &[disabled]{
      cursor: not-allowed;
    }
  }

  &.large {
    background: linear-gradient(308.05deg, #F4F7FA 11.58%, #EBF0F5 92.09%);
    &:focus-within {
      background: linear-gradient(308.05deg, #AAA3FF 11.58%, #29B3FF 92.09%);
    }
    border-radius: 11px;

    .input {
      height: 48px - 2px;
      padding-left: 20px;
      padding-right: 20px;
      line-height: 48px - 2px;

      font-style: normal;
      font-weight: normal;
      font-size: 18px;

      background: linear-gradient(130.01deg, #ECF1F6 4.46%, #F5F8FA 94.9%);
      box-shadow: inset -5px -5px 12px #FFFFFF, inset 3px 4px 8px rgba(179, 193, 213, 0.7);
      border-radius: 10px;
    }
  }
  &.normal {
    background: linear-gradient(308.05deg, #F4F7FA 11.58%, #EBF0F5 92.09%);
    &:focus-within {
      background: linear-gradient(308.05deg, #AAA3FF 11.58%, #29B3FF 92.09%);
    }
    border-radius: 9px;

    .input {
      height: 38px - 2px;
      padding-left: 18px;
      padding-right: 18px;
      line-height: 38px - 2px;
      font-size: 15px;

      background: linear-gradient(130.01deg, #ECF1F6 4.46%, #F5F8FA 94.9%);
      box-shadow: inset -4px -3px 10px rgba(255, 255, 255, 0.9), inset 2px 3px 6px rgba(179, 193, 213, 0.7);
      border-radius: 8px;
    }
  }
  &.small {
    background: linear-gradient(308.05deg, #F4F7FA 11.58%, #EBF0F5 92.09%);
    &:focus-within {
      background: linear-gradient(308.05deg, #AAA3FF 11.58%, #29B3FF 92.09%);
    }
    border-radius: 7px;

    .input {
      height: 32px - 2px;
      padding-left: 15px;
      padding-right: 15px;
      line-height: 32px - 2px;

      font-style: normal;
      font-weight: normal;
      font-size: 13px;

      background: linear-gradient(130.01deg, #ECF1F6 4.46%, #F5F8FA 94.9%);
      box-shadow: inset -3px -2px 8px rgba(255, 255, 255, 0.9), inset 2px 2px 5px rgba(179, 193, 213, 0.7);
      border-radius: 6px;
    }
  }

  &.disabled {
    .input {
      color: rgba(54, 63, 72, 0.5);
      background: none;
      box-shadow: none;
      &:hover, &:focus {
        background: none;
        box-shadow: none;
      }
    }

    &.large {
      background: linear-gradient(307.62deg, #ECF1F6 7.23%, #EBF0F5 93.2%);
      box-shadow: inset -3px -3px 8px rgba(255, 255, 255, 0.85), inset 3px 3px 6px rgba(179, 193, 213, 0.4);
      &:focus-within {
        background: linear-gradient(307.62deg, #ECF1F6 7.23%, #EBF0F5 93.2%);
        box-shadow: inset -3px -3px 8px rgba(255, 255, 255, 0.85), inset 3px 3px 6px rgba(179, 193, 213, 0.4);
      }
    }
    &.normal {
      background: linear-gradient(307.62deg, #ECF1F6 7.23%, #EBF0F5 93.2%);
      box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.85), inset 2px 2px 5px rgba(179, 193, 213, 0.4);
      &:focus-within {
        background: linear-gradient(307.62deg, #ECF1F6 7.23%, #EBF0F5 93.2%);
        box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.85), inset 2px 2px 5px rgba(179, 193, 213, 0.4);
      }
    }
    &.small {
      background: linear-gradient(307.62deg, #ECF1F6 7.23%, #EBF0F5 93.2%);
      box-shadow: inset -2.01099px -2.01099px 5.36263px rgba(255, 255, 255, 0.85), inset 2.01099px 2.01099px 4.02197px rgba(179, 193, 213, 0.4);
      &:focus-within {
        background: linear-gradient(307.62deg, #ECF1F6 7.23%, #EBF0F5 93.2%);
        box-shadow: inset -2.01099px -2.01099px 5.36263px rgba(255, 255, 255, 0.85), inset 2.01099px 2.01099px 4.02197px rgba(179, 193, 213, 0.4);
      }
    }
  }
}

.rounded {
  &.large{
    .input {
      padding-left: 18px;
      padding-right: 18px;
    }
  }
  &.normal{
    .input {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  &.normal{
    .input {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}

// Default.
.circle {
  border-radius: 50rem !important;
  .input {
    border-radius: 50rem !important;
  }
}
