@import "../../styles/prerequisites";

.wrapper {
  padding:1px;

  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  vertical-align: middle;

  .button {
    @extend %button;

    box-shadow: none;
    color: #485158;

    flex-direction: column !important;
    svg {
      opacity: 0.8;
      margin-right: 0 !important;
      width:22px;
    }

    &:hover, &:focus {
      box-shadow: none;
      color: #363F48;
      svg {
        opacity: 1;
      }
    }

    &:disabled,
    &[disabled]{
      cursor: not-allowed;
      svg {
        opacity: 0.4;
      }
    }
  }

  &.large {
    background: linear-gradient(311deg, #DAE2ED 4.11%, #FFFFFF 87.12%);
    box-shadow: -4px -4px 12px #FFFFFF, 5px 4px 10px rgba(179, 193, 213, 0.7);
    &:hover, &:focus {
      background: linear-gradient(125.15deg, #F1F4F6 9.97%, #F9FAFC 96.13%);
      box-shadow: -4px -4px 12px #FFFFFF, 5px 4px 10px rgba(179, 193, 213, 0.8);
    }
    border-radius: 10px;

    .button {
      height: 48px - 2px;
      width: 48px - 2px;
      svg {
        width:22px !important;
      }
      line-height: 26px;
    
      @include button-sizes(22px);

      background: linear-gradient(311.33deg, #F4F7FA 7.66%, #EBF0F5 95.56%);
      &:hover, &:focus {
        background: linear-gradient(125.15deg, #F2F5F7 9.97%, #F8FAFC 96.13%);
      }
      border-radius: 10px;
    }
  }

  &.normal {
    background: linear-gradient(311deg, #DAE2ED 4.11%, #FFFFFF 87.12%);
    box-shadow: -3px -3px 9px #FFFFFF, 4px 3px 8px rgba(179, 193, 213, 0.7);
    &:hover, &:focus {
      background: linear-gradient(125.15deg, #F1F4F6 9.97%, #F9FAFC 96.13%);
      box-shadow: -3px -3px 9px #FFFFFF, 4px 3px 8px rgba(179, 193, 213, 0.8);
    }
    border-radius: 8px;

    .button {
      width: 38px - 2px;
      height: 38px - 2px;
      svg {
        width: 18px !important;
      }
      line-height: 22px;
      @include button-sizes(18px);

      background: linear-gradient(311.33deg, #F4F7FA 7.66%, #EBF0F5 95.56%);
      &:hover, &:focus {
        background: linear-gradient(125.15deg, #F2F5F7 9.97%, #F8FAFC 96.13%);
      }
      border-radius: 8px;
    }
  }
  
  &.small {
    background: linear-gradient(311deg, #DAE2ED 4.11%, #FFFFFF 87.12%);
    box-shadow: -3px -3px 8px #FFFFFF, 3px 3px 7px rgba(179, 193, 213, 0.7);
    &:hover, &:focus {
      background: linear-gradient(125.15deg, #F1F4F6 9.97%, #F9FAFC 96.13%);
      box-shadow: -3px -3px 8px #FFFFFF, 3px 3px 7px rgba(179, 193, 213, 0.8);
    }
    border-radius: 6px;

    .button {  
      height: 32px - 2px;
      width: 32px - 2px;
      svg {
        width:14px !important;
      }
      line-height: 18px;
    
      @include button-sizes(16px);

      background: linear-gradient(311.33deg, #F4F7FA 7.66%, #EBF0F5 95.56%);
      &:hover, &:focus {
        background: linear-gradient(125.15deg, #F2F5F7 9.97%, #F8FAFC 96.13%);
      }
      border-radius: 6px;
    }
  }

  &.disabled {
    .button {
      color: rgba(72, 81, 88, 0.6);
      background: none;
      box-shadow: none;
      &:hover, &:focus {
        background: none;
        box-shadow: none;
      }
    }

    &.large {
      background: linear-gradient(311.33deg, #F4F7FA 7.66%, #EBF0F5 95.56%);
      box-shadow: -4px -4px 9px rgba(255, 255, 255, 0.85), 4px 4px 7px rgba(179, 193, 213, 0.4);
      &:hover, &:focus {
        background: linear-gradient(311.33deg, #F4F7FA 7.66%, #EBF0F5 95.56%);
        box-shadow: -4px -4px 9px rgba(255, 255, 255, 0.85), 4px 4px 7px rgba(179, 193, 213, 0.4);
      }
    }
    &.normal {
      background: linear-gradient(311.33deg, #F4F7FA 7.66%, #EBF0F5 95.56%);
      box-shadow: -3px -3px 9px rgba(255, 255, 255, 0.85), 4px 4px 8px rgba(179, 193, 213, 0.4);
      &:hover, &:focus {
        background: linear-gradient(311.33deg, #F4F7FA 7.66%, #EBF0F5 95.56%);
        box-shadow: -3px -3px 9px rgba(255, 255, 255, 0.85), 4px 4px 8px rgba(179, 193, 213, 0.4);
      }
    }
    &.small {
      background: linear-gradient(311.33deg, #F4F7FA 7.66%, #EBF0F5 95.56%);
      box-shadow: -3px -3px 8px rgba(255, 255, 255, 0.85), 3px 3px 7px rgba(179, 193, 213, 0.4);
      &:hover, &:focus {
        background: linear-gradient(311.33deg, #F4F7FA 7.66%, #EBF0F5 95.56%);
        box-shadow: -3px -3px 8px rgba(255, 255, 255, 0.85), 3px 3px 7px rgba(179, 193, 213, 0.4);
      }
    }
  }
}

.rounded {
  .button {
    // Just to keep this class for TS.
    flex-direction: column;
  }
}

.circle {
  border-radius: 50rem !important;
  .button {
    border-radius: 50rem !important;
  }
}
