@import "../../styles/prerequisites";

.icon {
  button {
    flex-direction: column !important;
    svg {
      margin-right: 0 !important;
      width:22px;
    }
  }
}

.large {
  button {
    // height: 48px - 2px;
    width: 48px - 2px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    svg {
      width:22px !important;
    }
  }
}

.normal {
  button {
    // height: 38px - 2px;
    width: 38px - 2px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    svg {
      width:18px !important;
    }
  }
}

.small {
  button {
    // height: 32px - 2px;
    width: 32px - 2px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    svg {
      width:14px !important;
    }
  }
}
